.navbar-default {
  background: none;
  border: none;
}

.nav.navbar-nav li a {
  color: rgb(240, 240, 240);
  font-size: 18px;
}

.nav.navbar-nav li a:hover{
  color: #1D70B7;
}

.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-backdrop-filter: blur(0px);
}

.navbar.scrolled {
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255,0.5);
  color: #1D70B7;
}

@media (max-width: 767px) {
  .navbar-default{
    background-color: white;
  }
  .navbar-collapse{
    background-color:white;
  }
  .nav.navbar-nav li a {
    color: #1D70B7;
    font-size: 15px;
  }
  .nav.navbar-nav li a:hover {
    color: rgb(87, 87, 87)
  }
  .row.vertical-align {
      display: block;
  }
}

html,
body,
.hero-wrap {
  height: 100%;
  min-height: 480px;
  overflow: visible;
  position: relative;
}

.hero-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hero-video video,
.hero-video img.alternative {
  position: absolute;
  height: auto;
  width: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}

.touch .hero-video video,
.no-touch .hero-video img.alternative {
  display: none;
}

.hero-intro-text {
  height: 200px;
  margin-top: -100px;
  position: absolute;
  top: 44%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.hero-intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-family: 'GillSansMT';
  color: rgb(240, 240, 240);
  font-size: 25px;
  line-height: 25px;
}

.hero-intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  color: rgb(29, 112, 183);
  font-family: 'Audiowide', cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

@media(min-width:768px) {

  .hero-intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: 'GillSansMT';
    color: rgb(240, 240, 240);
    font-size: 42px;
    line-height: 42px;
  }

  .hero-intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    color: rgb(29, 112, 183);
    font-family: 'Audiowide', cursive;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
  }
}

.parent {
  display: table;
  table-layout: fixed;
  max-height: 10px;
}

.child {
  display:table-cell;
  vertical-align:middle;
  text-align:left;
  float: none;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide; 
  /* The duration of the animation */
  animation-duration: 1s; 
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  } 
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

body {
  position: relative; 
}
#section1 {padding-top:50px;padding-bottom:50px;color: #1D70B7; background-color: #fff;}
#section2 {padding-top:50px;padding-bottom:50px;color: black; background-color: #FED100;}

.mv-footer{
  background-color: rgb(50, 50, 50);
  color: white;
}

.mv-footer img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); /* make all photos black and white */ 
  width: 100%; /* Set width to 100% */
  margin: auto;
}

.footer-text{
  padding-top: 30px;
}

.mv-text{
  font-family: 'ABeeZee', sans-serif;
}

.mv-title{
  font-family:'Audiowide', cursive;
  z-index: 1000;
}

@font-face { font-family: GillSansMT; src: url('fonts/GILSANSMTNORMAL.TTF'); } 
